.fill_parent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    background: #050708;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}